.AnswerItem {
   padding: 5px 10px;
   margin-bottom: 5px;
   border: 1px solid #fff;
   border-radius: 5px;
   cursor: pointer;
}

.AnswerItem:hover {
   background-color: rgba(255, 255, 255, .2);
   transition: all .2s ease-in-out;
}

.AnswerItem.success {
   background: rgba(161, 240, 69, .7);
}

.AnswerItem.error {
   background: rgba(240, 87, 108, .7);
}